body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background: #f4f4f4;
}

/* 카드 */
.card {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.card-container {
    position: relative;
    width: 80px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container img {
    width: 80px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: grab;
}

/* 슬롯 */
.card-slot-zone {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.card-slot {
    width: 90px;
    height: 120px;
    border: 2px dashed #999;
    border-radius: 8px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-slot .card-container {
    width: 90px;
    height: 120px;
}

.card-slot .card-container img {
    width: 90;
    height: auto;
}

/* X버튼 */
.remove-btn {
    position: absolute;
    top: 20px;
    right: 0px;
    color: black;
    width: 20px;
    height: 20px;
    font-size: 12px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    
}

.save-button-container {
    margin: 30px;
  }
  
  .save-button-container button {
    /*padding: 10px 20px;*/
    /*margin-bottom: 10px;*/
    font-size: 16px;
    background-color: #4caf50;
    /*color: white;*/
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .save-button-container button:hover {
    background-color: white;
  }