body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f4f4f4;
    margin: 20px;
}

/* 카드 */
   .card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    margin-bottom: 30px;
    max-width: 260px; 
    margin-left: auto;
    margin-right: auto;
  }
  
  .card-container {
    position: relative;
    width: 100%;
    aspect-ratio: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90px;  /* 최대 너비 제한 */
  }
  
  .card-container img {
    width: 100%;
    height: auto;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    cursor: grab;
  }
  

/* 슬롯 */
.card-slot-zone {
    /*display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: nowrap;
    overflow-x: auto;*/
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 8px;
    overflow-x: auto;
    margin-top: 20px;
    padding: 0 5px;
  }
  
  .card-slot {
    width: 70px;
    height: 105px;
    border: 2px dashed #999;
    border-radius: 8px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-slot .card-container {
    width: 70px;
    height: 105px;
  }
  
  .card-slot .card-container img {
    width: 100%;
  }

/* X버튼 */
.remove-btn {
    position: absolute;
    top: 20px;
    right: 0px;
    color: black;
    width: 20px;
    height: 20px;
    font-size: 12px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    
}


.save-btn{
    margin: 30px;
  }
  

.save-btn button {
    /*padding: 10px 20px;*/
    /*margin-bottom: 10px;*/
    font-size: 16px;
    background-color: #4caf50;
    /*color: white;*/
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .save-btn button:hover {
    background-color: white;
  }